<h3><%= list.title %></h3>

<ul class='cards'>
  <% list.cards.each do |card| %>
    <li><%= link_to card.title, card_path(card) %></li>
  <% end %>
</ul>

<div class='new-card-form'>
  <%= form_for list.cards.build, remote: true, format: :json do |f| %>
    <%= f.hidden_field :list_id %>
    <%= f.text_field :title %>
    <%= f.submit 'Add' %>
    <%= link_to 'Cancel', '#', class: 'cancel-new-card' %>
  <% end %>
</div>

<div class="new-card">
  Add a card
</div>
