<h4>Log in</h4>

<%= form_tag '/login' do %>
  <div>
    <%= label_tag :username %>
    <%= text_field_tag :username, params[:username] || '' %>
  </div>

  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password, params[:password] || '' %>
  </div>

  <%= submit_tag 'Log in' %>
<% end %>
