= content_for :head do
  %script(src='https://js.stripe.com/v2/')
  :javascript
    Stripe.setPublishableKey('#{ENV['stripe_publishable_key']}');

.container.scroll-vertical
  .col-md-8.col-md-offset-2
    .col-md-12
      %h2 Account
    .col-md-8
      = bootstrap_form_for @user, url: my_account_path, html: { class: 'col-md-12' } do |f|
        %fieldset
          = f.email_field :email
          = f.password_field :password, label: 'New password'
          = f.password_field :password_confirmation, label: 'Confirm password'
          = f.submit 'Update account', class: 'btn btn-primary'
    - if @user.plan == 'basic'
      .col-md-12
        %h2 Subscription
        %p Upgrade to a plus plan!
        = form_tag({ controller: 'subscriptions', action: 'create' }, id: 'subscribe-form') do
          = hidden_field_tag :plan_id, 'plus_monthly'
          .col-md-8
            .payment-errors
            .form-group
              = label_tag nil, 'Card Number', class: 'control-label'
              = text_field_tag nil, nil, class: 'form-control card-number'
            .form-group
              = label_tag nil, 'CVC', class: 'control-label'
              = text_field_tag nil, nil, class: 'form-control card-cvc'
            .form-group
              = label_tag 'card-expiry', 'Expiration', class: 'control-label'
              = select_month(Date.today, {add_month_numbers: true}, class: 'form-control card-expiry-month', name: nil)
              = select_year(Date.today.year, { start_year: Date.today.year, end_year: Date.today.year + 15}, class: 'form-control card-expiry-year', name: nil)
            .form-group
              = submit_tag 'Subscribe', class: 'payment-submit btn btn-primary'
    .col-md-4
      %h3.link-accounts Link Accounts
      - if @user.linked_to? 'twitter'
        = link_to 'Linked to Twitter', '#', class: 'btn btn-default btn-block', disabled: 'disabled'
      - else
        = link_to 'Link to Twitter', '/auth/twitter', class: 'btn btn-success btn-block'
