.container
  .col-md-4.col-md-offset-4
    %h2 Register an account

    = bootstrap_form_for @user do |f|
      = f.text_field :username
      = f.password_field :password
      = f.password_field :password_confirmation, label: 'Confirm Password'
      = f.submit 'Register', class: 'btn btn-primary btn-block'
