.container
  .col-md-4.col-md-offset-4
    %h2 Set Your Password
    = bootstrap_form_for @user, url: admin_invitation_path(params[:id]), html: { method: :put } do |f|
      = f.hidden_field 'email', value: @user.email
      = f.password_field 'user[password]', label: 'Password'
      = f.password_field 'user[password_confirmation]', label: 'Confirm Password'
      = f.submit 'Set', class: 'btn btn-primary btn-block'
