{{!-- <div id="card-modal" class="modal fade" tabindex="-1"> --}}
  <div class="modal-dialog">
    <div class="modal-content clearfix">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>

          <h2 class="modal-title">{{title}}</h2>
      </div>

      <div class="modal-body clearfix">
        <aside class="actions">
          <h3>Actions</h3>
          <ul>
            <li class="btn-group">
              <button type="button" class="add-checklist btn btn-default btn-sm btn-block dropdown-toggle" data-toggle="dropdown">Add Checklist</button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <form class="form-inline add-checklist">
                    <div class="form-group">
                      <label class="sr-only" for="checklist-title">Title</label>
                      <input type="text" class="form-control" id="checklist-title" placeholder="Title" name="title">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Add">
                  </form>
                </li>
              </ul>
            </li>

            {{#if watching}}
              <li>
                <a href="#" class="unwatch-card btn btn-default btn-sm btn-block">Unwatch</a>
              </li>
            {{else}}
              <li>
                <a href="#" class="watch-card btn btn-default btn-sm btn-block">Watch</a>
              </li>
            {{/if}}

            {{#if services.twitter}}
              <li>
                <a href="#" class="tweet-card btn btn-default btn-sm btn-block">
                  Tweet Card
                </a>
              </li>
            {{/if}}

            <li><a href="#" class="delete-card btn btn-danger btn-sm btn-block">Delete</a></li>
          </ul>
        </aside>

        <div class="main-col">
          <section>
            <h3>Description</h3>
            <a href="#" class="edit-description-link">Edit</a>
            <p class="description">{{description}}<p>

            <form action="" method="post" class="edit-description">
              <fieldset>
                <div class="form-group">
                  <textarea class="form-control">

                  </textarea>
                </div>

                <div>
                  <input type="submit" value="Save" class="btn btn-primary btn-sm">
                  <a href="#" class="cancel-edit">Cancel</a>
                </div>
              </fieldset>
            </form>
          </section>

          <div class="checklists">
            {{#each checklists}}
              <section class="checklist" data-id="{{@index}}">
                <h4>{{title}}</h4>

                <ul class="list-group check-items">
                  {{#each check_items}}
                    <li class="list-group-item check-item" data-id="{{@index}}">
                      {{#if done}}
                        <a href="#" class="checklist-box toggle-check-item">
                          <span class="glyphicon glyphicon-ok"></span>
                        </a>
                      {{else}}
                        <a href="#" class="checklist-box toggle-check-item">
                          <span class="glyphicon glyphicon-unchecked"></span>
                        </a>
                      {{/if}}
                      <span class="checklist-text">{{name}}</span>
                      <a href="#" class="delete-check-item pull-right">
                        <span class="glyphicon glyphicon-trash"></span>
                      </a>
                    </li>
                  {{/each}}
                </ul>

                <div class="add-check-item">
                  <a href="#">Add an item...</a>
                </div>

                <div class="new-check-item-form">
                  <form action="" method="post">
                    <div class="form-group">
                      <input type="text" name="name" placeholder="New item" class="form-control">
                    </div>
                    <input type="submit" value="Add" class="btn btn-sm btn-primary">
                    <a href="#" class="cancel-new-check-item">Cancel</a>
                  </form>
                </div>
              </section>
            {{/each}}
          </div>

          <section class="comments">
            <h2>Activity</h2>
            <form action="" method="post" class="new-comment">
              <fieldset>
                <div>
                  <textarea name="comment-body" placeholder="Add a comment..."></textarea>
                </div>

                <div>
                  <input type="submit" value="Send" class="btn btn-primary btn-sm">
                </div>
              </fieldset>
            </form>
            <ul class="comment-list"></ul>
          </section>
        </div>
      </div>
    </div>
  </div>
