.container
  .col-md-8.col-md-offset-2
    %h2 Users
    %p= link_to 'Add a user', new_admin_user_path
    %table.table.table-striped
      %thead
        %tr
          %th ID
          %th Username
          %th Email
          %th Plan
          %th Actions
      %tbody
        - @users.each do |user|
          %tr
            %td= user.id
            %td= user.username
            %td= user.email
            %td= user.plan_object.friendly_name
            %td= link_to 'Delete', admin_user_path(user), method: :delete, class: 'btn btn-xs btn-danger'
